/* your styles go here */

.my-dang {
    background-color: rgb(138, 141, 147);
    border-top: rgb(138, 141, 147);
    border-right: rgb(138, 141, 147);
    border-bottom: rgb(138, 141, 147);
    border-left: 4px solid #bd2130;
    color: #00dd00;
}